@import "base.scss";

body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.zoom,
.node {
  will-change: transform;
}

.container:active {
  cursor: move;
}

.links line {
  stroke: #aaaaaa88;
}

text {
  font-size: 10px;
}
