extends layouts/base.pug

block vars
  - var title="Quid Pro Quo"
  - var description="An exploration in conspiratorial graph theory"

block content
  div#nodes-loading nodes loading...
  div#links-loading links loading...